body {
  font-family: Arial;
  word-wrap: break-word;
  padding: 0px;
  margin: 0px;

}
.navbar{
  float: right;
  position: sticky;
  top: 0;
  height: 50px;
  width:100%;
}
.links{
  margin-right: 13px;
}
.links a{
  float: right;
  color: white;
  text-decoration: none;
  display:inline-block;
  padding:15px 15px;
  padding: bottom
  margin:0;
}

.links a:hover{
  padding-bottom: 17px;
  background-color: white;
  color:#555;
  transition: 0.5s;
}
section div.img1 {
    background-image: url('neko.jpg');
     width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 700px;
}
 .imgtxt1{
    text-align: center;
    
 	 color: #555;

 }